@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #0f0723;
  color: white;
  font-family: "Raleway", sans-serif;
  height: 100vh;
}
.chat-room {
   
    background: rgba(15, 7, 35, 0.952);
    color: black;
    font-family: "Raleway", sans-serif;
    height: 100vh;
  }
  .chat-room header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 3% 0 3%;
    justify-content: space-between;
    background: #0f0723;
  }
  .chat-room header h1 {
    font-family: "Leckerli One", cursive;
  
    text-align: center;
    color: rgba(255, 255, 255, 0.911);
  }
  .chat-room header button {
    background: #f5901a;
    height: 2rem;
    width: 8rem;
    border: 0;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.774);
    font-weight: 700;
  }
  .chat-room header button:active {
    background: #f58f1ad5;
  }
  .chat-room main {
    overflow: scroll;
    height: calc(100% - 8rem);
    background: white;
  }
  .chat-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    padding: 0 0.5rem 0 0.5rem;
  }
  .chat-history li {
    list-style-type: none;
    margin: 1rem 0 1rem 0;
    display: inline-block;
    border-radius: 5px;
    background:#f5901a;
    padding: 0.5rem;
    box-shadow: 0px -1px 16px 0px rgba(245,144,26,0.75);
  -webkit-box-shadow: 0px -1px 16px 0px rgba(245,144,26,0.75);
  -moz-box-shadow: 0px -1px 16px 0px rgba(245,144,26,0.75);
    word-break: break-word;
   
    max-width: 38%;
    color: #0f0723;
  }
  .my-message {
    align-self: flex-end;
  }
  
  .others-message {
    align-self: flex-start;
  }
  .someone-joined{
    font-family: "Leckerli One", cursive;
  }
  
  .message div{
    border-radius: 1rem;
    padding: 5px;
    color: black;
    font-family: "Leckerli One", cursive;
    text-align: center;
  }
  .chat-room footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  
    height: 4rem;
    border-radius: 1rem;
    width: 80%;
  }
  #type-chat {
    width: 60%;
    height: 2.5rem;
    resize: none;
    border: 3px solid silver;
    border-radius: 2rem;
    padding: 0.3rem 1rem 0.5rem 1rem;
    font-family: "Raleway", sans-serif;
   
  }
  .chat-room footer button {
    width: 6rem;
    height: 2.3rem;
    margin-left: 2rem;
    background: #f5901a;
    border: 0;
    border-radius: 5px;
    font-family: "Leckerli One", cursive;
  }
  .chat-room footer button:active {
    background: #f58f1ad5;
  }
  